*.SearchResults
*.txt
*.jpg
*.ppt
*.ptp
*.zip
*.cof
*.mcs
*.mcp
*.mcw
*.o
*.ini
*.map
*.as
*.cod
*.dep
*.hxl
*.obj
*.lde
*.lst
*.p1
*.pre
*.rlf
*.sdb
*.sym
funclist
*.tmp
*.IAB
*.IAD
*.IMB
*.IMD
*.PRI
*.PS
*.WK3
*.PFI
*.PO
*.PR
*.cce
*.hex
cpu_18f4480/voice_4480/voice.X/Makefile
*.bash
*.xml
*.d
*.mk
*.properties
