*.SearchResults
*.txt
*.jpg
*.ppt
*.ptp
*.zip
*.cof
*.mcs
*.mcp
*.mcw
*.o
*.ini
*.map
*.as
*.cod
*.dep
*.hxl
*.obj
*.lde
*.lst
*.p1
*.pre
*.rlf
*.sdb
*.sym
funclist
*.tmp
*.IAB
*.IAD
*.IMB
*.IMD
*.PRI
*.PS
*.WK3
*.PFI
*.PO
*.PR
*.cce
*.hex
cpu_18f4480/voice_4480/voice.X/Makefile
*.bash
*.xml
*.d
*.mk
*.properties
*.orig
*.lnk
*.hex
/HOST/Host_2015_1/*.hex
/cpu_18f4480/slave_4480/CAN_IO_ALL_65k80/can_io_all_65k80.si4project/cache/parse
/cpu_18f4480/slave_4480/CAN_IO_ALL_65k80/can_io_all_65k80.si4project
